// taskbar
$main-color-blue: #1f58d9;
$secondary-color-green: #1e8c1e;
$tertiary-color-blue: #0a92eb;

// start window
$dark-shade-blue: #1362c9;
$light-shade-blue: #4691ec;
$lighter-shade-blue: #d3e5fb;