@use "./../mixin/mixins.scss";
@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}

// 

html {
  width: 100vw;
  height: 100vh;
  background: url('./assets/images/BGwallpaper.jpg') no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.desktop {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.start-menu {
  z-index: 10;
  height: 600px;
  width: 500px;
  position: absolute;
  bottom: 35px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);

  //hiding start menu at initialise
  display: none;

  &__header {
    border-radius: 10px 10px 0 0;
    z-index: 20;
    height: 70px;
    width: 100%;
    background: linear-gradient($dark-shade-blue, $light-shade-blue);
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));

    &--icon {
      border: 1px solid white;
      border-radius: 3px;
      margin: auto 10px;
      width: 50px;
      height: 50px;
        
      img {
        width: 100%;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      }
      
    }

    &--userName {
      @include mixins.text-on-blue;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    }
  }

  &__menu {
    height: calc(100% - 70px - 50px);
    width: 100%;
    display: flex;
    color: $darker-shade-blue;

    &--left {
      background-color: white;
      padding: 5px;
      width: 50%;
      height: 100%;
      @include mixins.main-font-tahoma;
    }
    &--right {
      border-left: 1px solid $light-shade-blue;
      background-color: $lighter-shade-blue;
      padding: 5px;
      width: 50%;
      height: 100%;
      @include mixins.inner-window-titles;
    }
  }

  &__footer {
    background: linear-gradient($light-shade-blue, $dark-shade-blue);
    width: 100%;
    height: 50px;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mixins.main-font-tahoma;
    @include mixins.text-on-blue;

    div {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }

      p {
        margin: 5px 15px 5px 5px;
      }
    }
  }
}

.left-items {
  display: flex;
  align-items: center;

  img {
    margin: 5px 10px;
    width: 50px;
    height: 50px;
  }

  &:hover {
    @include mixins.start-menu-hover;
  }
}

.right-items {
  display: flex;
  align-items: center;

  img {
    margin: 5px;
    width: 25px;
    height: 25px;
  }

  &:hover {
    @include mixins.start-menu-hover;
  }
}

.windows {
  z-index: 100;
  position: absolute;
  background-color: white;
  border-radius: 3px 3px 0 0;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.calculator {
  position: absolute;
  width: 250px;
  height: 320px;
  top: 200px;
  left: 400px;
  display: none;
}

.notepad {
  position: absolute;
  width: 250px;
  height: 320px;
  top: 220px;
  left: 420px;
  display: none;
}

.video-player {
  position: absolute;
  width: 250px;
  height: 320px;
  top: 240px;
  left: 440px;
  display: none;
}

.window-open {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-shade-blue;
  cursor: default;
  border-radius: 3px 3px 0 0;
  @include mixins.text-on-blue;
  height: 30px;

  &__left {
    display: flex;
    align-items: center;
    @include mixins.window-titles;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__right {
    display: flex;
  }

  &--box {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    margin: 1px;
    line-height: 1;
  }
}

#windowsClose {
  background: radial-gradient(circle at 25% 25%, #f6ac92, #e44d16);
}

// TASKBAR

.taskbar {
  width: 100vw;
  height: 35px;
  background-color: $main-color-blue;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  @include mixins.text-on-blue;

  &__startButton {
    height: 100%;
    width: 100px;
    
    button {
      display: flex;
      align-items: center;
      @include mixins.text-on-blue;
      border: none;
      border-radius: 0 11px 20px 0;
      box-shadow: 0 3px 2px rgba(28,62,25,0.5);
      width: 100%;
    }

    img {
      width: 25px;
      height: 20px;
      margin: 0 5px 0 10px;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    }

    p {
      text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    }

    &--green {
      height: 100%;
      width: 100%;
      background-color: $secondary-color-green;
    }
  }

  // code for the opened windows
  // w: 35px
  // h: 100%

  &__clockIcons {
    background-color: $tertiary-color-blue;
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--time {
      padding: 15px;
      font-weight: 400;
      @include mixins.main-font-tahoma;
    }
  }
}